* {
    transition: all .2s;
}
@media only screen and (max-width: 992px) {
    .main{ 
        width: 350px;
        flex-flow: wrap-reverse;
    }
    .main_content{
        padding: 20px 44px;
    }
    img {
        width: 350px;
    }
}
